In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("base_laboratorio_1.csv")

In [17]:
df

    x1  x2  x3  x4     y1    y2     y3     y4
0   10  10  10   8   8.04  9.14   7.46   6.58
1    8   8   8   8   6.95  8.14   6.77   5.76
2   13  13  13   8   7.58  8.74  12.74   7.71
3    9   9   9   8   8.81  8.77   7.11   8.84
4   11  11  11   8   8.33  9.26   7.81   8.47
5   14  14  14   8   9.96  8.10   8.84   7.04
6    6   6   6   8   7.24  6.13   6.08   5.25
7    4   4   4  19   4.26  3.10   5.39  12.50
8   12  12  12   8  10.84  9.13   8.15   5.56
9    7   7   7   8   4.82  7.26   6.42   7.91
10   5   5   5   8   5.68  4.74   5.73   6.89

In [21]:
df.mean(axis=0).round(decimals=2)

x1    9.0
x2    9.0
x3    9.0
x4    9.0
y1    7.5
y2    7.5
y3    7.5
y4    7.5
dtype: float64

In [26]:
df['x1'].corr(df['y1']).round(decimals=3)

0.816

In [27]:
df['x2'].corr(df['y2']).round(decimals=3)

0.816

In [28]:
df['x3'].corr(df['y3']).round(decimals=3)

0.816

In [29]:
df['x4'].corr(df['y4']).round(decimals=3)

0.817